{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
    <form method = "POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class ="form-group">
                {{form.your_pitch.label(class="form-control-label")}}
                {{form.your_pitch(class="form-control-label form-control-lg")}}
                
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock %}