{% extends 'base.html'%}

{% block content %}
    <div class =>
        <form method = "POST" action="">
            {{ form.hidden_tag() }}
            <fieldset clas="form-group">
                <div class ="form-group">
                    {{form.username.label(class="form-control-label")}}
                    {{form.username(class="form-control-label form-control-lg")}}
                    
                </div>

            </fieldset>

        </form>
        

    </div>

{% endblock content}